<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Sudo, <%=UserName%> </th>
            <tr>
                <td>
                    <p>Hello, <%=UserName%></p>
                    <p><img src="https://images.pexels.com/photos/2882688/pexels-photo-2882688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></p>
                    <p>
                        Thank you for signing up. <br>
                        We are glad you are part of us now! <br>

                        Welcome !
                    </p>
                </td>
            </tr>
        </tr>
    </table>
</body>
</html>