<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Sudo, <%=user_name%> </th>
            <tr>
                <td>
                    <p>Hello, <%=user_name%></p>
                    <p><img src="https://cdn.pixabay.com/photo/2016/10/28/09/24/integration-1777536_640.jpg"></p>
                    <p>
                        Thank you for signing up. <br>
                        We are glad you are part of us now! <br>

                        Welcome !
                    </p>
                </td>
            </tr>
        </tr>
    </table>
</body>
</html>