*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100%;
    width: 100%;
}

.top{
    display: flex;
    gap: 200px;
    background-color: #00ADb5;
    color: white;
    font-size: 20px;
    height: 15vh;
}

.hello{
    display: flex;
    gap: 10px;
    padding: 30px;
}

.profile{
    background-color: #222831;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
   
    width: 18%;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0 0 20px  5px #00FFF5;

}

.projectCont{
    height: 55vh;
    background-color: #393E46;
   
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 4px  8px rgb(13, 13, 39);
    gap:10px ;
    display: flex;
    justify-content: center;
    
    

}

.content{
    display: flex;
    flex-direction: column;
    background-color: #222831;
    /* justify-content: center;
    align-items: center; */
    
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 20px  5px #00FFF5;

}

.project{
  
    height: 80%;
}
.contact{
    padding: 20px;
    background-color: #222831;
    box-shadow: 0 0 20px  5px #00FFF5;
    height: 20vh;
    color: white;
    
}

.completedTasks{

    width: 25%;
    box-shadow: 0 0 20px  5px #00FFF5;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   color: aliceblue;
   /* align-items: end; */
   padding: 10px;
   background-color: #222831;
   
}
.complete{
 
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5px;
}

#completebttn{
  
    margin-bottom: 20px;
    height: 50%;
    width: 12vw;
    border: none;
    border-radius: 8px;
    background-color: rgb(24, 180, 24);
    color: white;padding: 4px;
}
.completedTasks p{
    font-size: 13px;
}


#completebttn:hover{
    background-color: #393E46;
    box-shadow: 1px 1px 1px 1px #393E46;
}

.icons{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
    font-size: 13px;
}

.twitt,.gmail{
    display: flex;
    gap: 10px;
}
 